<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pfxb.system.dao.HelloDao">
	<resultMap id="hello" type="com.pfxb.system.entity.HelloEntity">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="age" column="age"/>
	</resultMap>
	<select id="findAll" resultMap="hello">
		select * from hello
	</select>
</mapper>