<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pfxb.system.dao.LoginDao">
	<resultMap id="userInfo" type="com.pfxb.system.entity.UserInfo">
		<result property="id" column="Id"/>
		<result property="loginName" column="login_name"/>
		<result property="loginPassword" column="Login_password"/>
		<result property="name" column="name"/>
		<result property="age" column="age"/>
		<result property="sex" column="sex"/>
		<result property="card" column="card"/>
		<result property="phone" column="phone"/>
		<result property="email" column="email"/>
		<result property="state" column="state"/>
		<result property="description" column="description"/>
		<result property="CreateTime" column="Create_time"/>
		<result property="UpdateTime" column="Update_time"/>
	</resultMap>
	<select id="getUserInfo" resultMap="userInfo">
		select 
			login_name,Login_password,id
		from user_info 
		where login_name=#{loginName} and Login_password=#{loginPassword}
	</select>
	<select id="getUserinfo" resultMap="userInfo">
		select * from user_info
	</select>
	<select id="queryLoginPassword" resultMap="userInfo">
		select Login_password from user_info where id=#{id}
	</select>
</mapper>