<!DOCTYPE html>
<html style="width:100%;height:100%;" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>系统管理</title>
	<link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
	<script type="text/javascript" src="easyui/jquery.min.js"></script>
	<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="js/login/systemPage.js"></script>
</head>
<body style="width:100%;height:100%;margin: 0">
	<div class="easyui-layout" style="width:100%;height:100%;">
		<div data-options="region:'north'" style="height: 30px;background-color: #4DFFFF">
			<div style="color: #00DB00;font-size: 20px;width: 90%;text-align: center;float: left;">欢迎登陆</div>
			<div style="width: 10%;float: right;">
				<a style="float: right;color: #EA0000;" href="javascript:void(0)" id="mb" class="easyui-menubutton" data-options="menu:'#mm',iconCls:'icon-edit'">编辑</a>   
				<div id="mm" style="width:150px;">   
				    <div data-options="iconCls:'icon-edit'">修改密码</div>   
				    <div data-options="iconCls:'icon-no'" onclick="logout();">注销</div>   
				</div>  
			</div>
		</div>
		<div data-options="region:'west',split:true" title="功能管理" style="width:17%;">
			<div style="padding-left: 10%;">
				<h3 style="cursor: pointer;margin: 10px 10px 0;" onclick="userManage();">
					<img alt="" src="easyui/themes/icons/man.png">
					用户管理
				</h3>
				<ul id="userTree" class="easyui-tree" style="margin-left:20px;display:none;">   
				    <li data-options="state:'closed'">   
				        <span >管理员用户</span>   
				        <ul>   
				            <li>   
								<span>rr</span>			               
				            </li>   
				            <li>   
				                <span >File 2</span>   
				            </li>   
				            <li>   
				                <span>File 3</span>   
				            </li>   
				        </ul>   
				    </li>   
				    <li data-options="state:'closed'">   
				        <span>员工信息</span>   
				        <ul>
				        	 <li>   
		                        <span>File 12</span>   
		                    </li>   
		                    <li>   
		                        <span>File 13</span>   
		                    </li> 
				        </ul>
				    </li>   
				</ul> 
			</div>
			<div style="padding-left: 10%;">
				<h3 style="cursor: pointer;margin: 10px 10px 0;" onclick="productManage();">
					<img alt="" src="easyui/themes/icons/tip.png">
					商品管理
				</h3>
				<ul id="productTree" class="easyui-tree" style="margin-left:20px;display:none;">   
				    <li data-options="state:'closed'">   
				        <span >管理员用户</span>   
				        <ul>   
				            <li>   
								<span>rr</span>			               
				            </li>   
				            <li>   
				                <span >File 2</span>   
				            </li>   
				            <li>   
				                <span>File 3</span>   
				            </li>   
				        </ul>   
				    </li>   
				    <li data-options="state:'closed'">   
				        <span>员工信息</span>   
				        <ul>
				        	 <li>   
		                        <span>File 12</span>   
		                    </li>   
		                    <li>   
		                        <span>File 13</span>   
		                    </li> 
				        </ul>
				    </li>   
				</ul> 
			</div>
		</div>
		<div data-options="region:'center'" title="主页">
			<div id="cc" class="easyui-calendar" style="width:80%;height:80%;margin: 5% auto;"></div> 
<!-- 			<table id="dg"></table> -->
		</div>
	</div>
 
</body>
</html>